<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script type="text/javascript" src="/tuner/microphone_handler.js"></script>
        <script type="text/javascript" src="/tuner/pitch_detector.js"></script>
        <script type="text/javascript" src="/tuner/visualiser.js"></script>
        <script type="text/javascript" src="/tuner/utils.js"></script>

        <title>GTuner</title>
    </head>

    <body onload="requestMicrophoneAccess()">
        <h1>Guitar tuner</h1>

        <canvas id="wave-line" width="500" height="200"></canvas>
        <p id="note"></p>
        <p id="pitch"></p>

        <button onclick="handleButtonClick()">E</button>
        <button onclick="handleButtonClick()">B</button>
        <button onclick="handleButtonClick()">G</button>
        <button onclick="handleButtonClick()">D</button>
        <button onclick="handleButtonClick()">A</button>
        <button onclick="handleButtonClick()">e</button>
    </body>
</html>